bookFido.exe.config
bookFido.log
bookFido.json
buildbookFido.log
createbookFidoRepo.log
GetAudibleInfo.json
GetAudibleInfo_state.json
bookFido_fail_*.html
GetAudibleInfo_fail_*.html
nugetPins.txt
bookFido.db
e_sqlite3.dll
Version.cs
*.dll
tagRelease.cmd
tagRelease.ps1
tagRelease.log
